@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/wvv1ieq.css");

/* @import "react-alice-carousel/lib/alice-carousel.css"; */

.alice-carousel__dots {
  background-color: black;
  position: absolute;
  top: 1026px;
  left: 926px;
}